### Django ###
*.log
*.pot
*.pyc
*.zip
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Environments ###
venv/

## node ###
package.json

### ETC ###
.vscode
server_info.json

### Unit test / coverage reports ###
.coverage
.coveragerc
htmlcov