### Django ###
*.log
*.pot
*.pyc
*.zip
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static-dev

### Environments ###
venv/

### ETC ###
.vscode
server_info.json

### Unit test / coverage reports ###
.coverage
.coveragerc
htmlcov