{% load static %}
<section id="about">
  <div class="container flex mw-1200">
    <div class="header">About</div>
    <div class="header-bar"></div>
    <img src="{% static 'img/about.jpg' %}" width="300px" />
    <div class="content-wrap">
      <div class="header">『Why?』</div>
      <div class="content">
        호기심 많은 신입개발자 길재우입니다.<br />
        저는 항상 새로운걸 배우기를 갈망하고 더 깊이 알고싶어하는 욕구가 강한
        사람입니다.<br />
        1년동안 서적과 문서를 보며 공부를 했고 이제 조금 더 실무적인 부분을
        커뮤니케이션을 통해 배우고 싶습니다.
      </div>
    </div>
  </div>
</section>
