<section id="skill">
  <div class="container flex mw-1200">
    <div class="header">Skills</div>
    <div class="header-bar"></div>
    <div class="skill-wrap flex">
      <div class="skill">
        <div class="bar">
          <em class="tag">Python</em>
          <div class="fill" style="width: calc(70% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">70%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">Django</em>
          <div class="fill" style="width: calc(80% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">80%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">Vue.js</em>
          <div class="fill" style="width: calc(40% - 100px)">
            <em class="level">Basic</em>
          </div>
          <em class="percent">40%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">React</em>
          <div class="fill" style="width: calc(30% - 100px)">
            <em class="level">Basic</em>
          </div>
          <em class="percent">30%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">MySQL</em>
          <div class="fill" style="width: calc(40% - 100px)">
            <em class="level">Basic</em>
          </div>
          <em class="percent">40%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">Github</em>
          <div class="fill" style="width: calc(60% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">60%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">AWS</em>
          <div class="fill" style="width: calc(30% - 100px)">
            <em class="level">Basic</em>
          </div>
          <em class="percent">30%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">CSS</em>
          <div class="fill" style="width: calc(80% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">80%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">HTML</em>
          <div class="fill" style="width: calc(80% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">80%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">Javascript</em>
          <div class="fill" style="width: calc(70% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">70%</em>
        </div>
      </div>
      <div class="skill">
        <div class="bar">
          <em class="tag">JQuery</em>
          <div class="fill" style="width: calc(70% - 100px)">
            <em class="level">Intermediate</em>
          </div>
          <em class="percent">70%</em>
        </div>
      </div>
    </div>
  </div>
</section>
