body {
  margin: 0;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  font-size: 12px;
}

em {
  font-style: normal;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
