{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  CSS  -->
    <!--  HOST  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <!--  LOCAL  -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--  JS  -->
    <!--  HOST  -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/85af176bb0.js"
      crossorigin="anonymous"
    ></script>
    <!--  LOCAL  -->
    <title>길재우 - Django 개발자</title>
  </head>
  <body>
    <div id="root">
      <!-- React will load here -->
    </div>
  </body>
  <script src="{% static 'frontend/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</html>
