{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--  CSS  -->
<!--  LOCAL  -->
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!--  JS  -->
<!--  HOST  -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/85af176bb0.js"
  crossorigin="anonymous"
></script>
<script
  src="https://unpkg.com/react@17/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  crossorigin
></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  LOCAL  -->
